.form_body {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; /* Smanjen razmak na dnu */
}

.form_container {
    width: 60%; /* Smanjena širina */
    font-size: 18px; /* Smanjen font */
    margin-top: 2%;
}

.form_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_container label {
    color: black;
    font-size: 16px; /* Smanjen font */
}

.form_container input {
    border-radius: 5px;
    height: 35px; /* Smanjena visina input polja */
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
    margin-bottom: 15px; /* Dodato malo razmaka između input polja */
}

.form_container textarea {
    color: black;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px; /* Smanjen padding */
    margin-bottom: 20px; /* Dodato razmaka ispod textarea */
}

.form_container a {
    font-size: 16px; /* Smanjen font */
}

.create {
    border: none;
    background-color: #c8a2c8; /* Svetlo lila boja */
    border-radius: 25px;
    padding: 10px;
    color: white;
    font-size: 16px; /* Smanjen font */
    width: 250px; /* Smanjena širina */
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 30px; /* Dodato malo više razmaka iznad */
}

.create:hover {
    background-color: #b689b6; /* Tamnija lila boja na hover */
    text-decoration: none;
}

.add {
    width: 170px; /* Smanjena širina dugmeta */
    color: white;
    font-weight: bold;
    font-size: 16px; /* Smanjen font */
    padding: 8px; /* Smanjen padding */
    background-color: #a8d08d; /* Svetlo zelena boja */
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 10px; /* Dodato malo razmaka iznad dugmeta */
}

.add:hover {
    background-color: #8cbf6b; /* Tamnija zelena boja na hover */
    text-decoration: none;
    cursor: pointer;
}

/* Uklanjanje plus ikone na "Dodaj odgovor" dugmetu */
.add i {
    display: none; /* Sakriva ikonu plus */
}
