body {
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: rgb(218, 243, 174);
    top: 0;
    z-index: 100;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    height: 110px;
    width: 100%;
    padding-left: 10%;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: red;
}

.logo {
    font-size: 24px;
    color: rgb(43, 42, 42);
    text-decoration: none;
    margin-left: 35%;
}
.logo img {
    width: auto;
    max-height: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right:3%;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a,button {
    /* color: white; */
    color: rgb(43, 42, 42);
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover,button:hover {
    text-decoration:underline;
    color: black;
}

.user{
    display: flex;
    align-items: center;
    color: rgb(43, 42, 42);
}


.account{
    display: flex;
    list-style: none;
    padding: 8px;
    border-radius:2px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.padding{
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.logout:hover{
    text-decoration: underline;
}

.mod:hover{
    text-decoration: underline;
    background-color: rgb(239, 246, 243);
}
